.menu {
  height: 10;
  width: 100%;
}

.selected {
  width: 19;
  background: aqua;
  color: black;
}

#settings-box {
    width: 80;
    height: auto;
    border: double gray;
    padding: 0;
}

#settings-content {
    width: 100%;
    height: auto;
    border-top: double gray;
}

#settings-menu {
    width: 21;
    height: auto;
    border-right: double gray;
    padding-right: 2;
}

#settings-details {
    width: 1fr;
    height: auto;
    padding-left: 2;
}

#title {
  padding: 0 1;
}